services:
  react-next-admin:
    image: react-next-admin
    container_name: react-next-admin
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8081" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
